[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
pandas = "*"
pyarrow = "*"
nautilus-trader = "*"
plotly = "*"
ipython = "*"
nbformat = "*"
yfinance = "*"
ta-lib = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
